.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
}

.wallet {
  justify-content: right;
 /*  background-color: #15171b; */
}
.wallet li {
  list-style-type: none;
  display: inline-block;
  vertical-align: middle;

}

/* h1 {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
} */

a {
  color: #5942bf;
  text-decoration: none;
}

a:visited {
  color: #5942bf;
  text-decoration: none;
}

.nav {
  background-color: #15171b;
  list-style-type: none;
  text-align: center; 
  padding: 0;
  margin: 0;
  height: 100%;
  vertical-align: middle
}

.nav li {
  display: inline-block;
  vertical-align: middle;
  color: white;
  font-size: calc(10px + 1vmin);
  padding: 15px;
}

.App-logo {
  display: block;
  padding: 10px,10px,10px,10px;
  scale: 100%;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.qrcode {
  align-content: center;
  width: 125px; 
  height: 125px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    /*animation: App-logo-spin infinite 20s linear; */
  }
}

.text {
  font-size: calc(10px + 1vmin); /* calc(10px + 2vmin); */
  max-width: 75%;
  color: white;
  margin: 10px;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
}

.how {
  text-align: center;
  color: white;
  max-width: 60%;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
}
.how li {
  list-style-type: none;
  max-width: 50%;
  /*text-align: left; */
  padding-left: 25%;
  padding-right: 25%;
}

.sign {
  text-align: left;
  color: white;
  max-width: 60%;
  font-size: calc(10px + 1vmin); /* calc(10px + 2vmin); */
  margin-left: auto;
  margin-right: auto;
}


.App-link {
  color: #6170fb;
  text-decoration: none;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  background-color: #15171b;
  list-style-type: none;
  vertical-align: middle
}

.footer li {
  display: inline-block;
  list-style-type: none;
  font-size: calc(10px + 0.5vmin);
  padding: 20px;
}