.App {
  text-align: center;
  background-color: rgb(235, 235, 235);
   /* background-color: #15171b; */
  /*min-height: 100vh;*/
  min-height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* color: white; */
}

.body {
  margin-bottom: 100px;
  min-height: 65vh;
}

.wallet {
  justify-content: right;
  background-color: #15171b;
}
.wallet li {
  list-style-type: none;
  display: inline-block;
  vertical-align: middle;

}

a {
  /* color: #5942bf; */
  color: rgb(0, 182, 136);
  text-decoration: none;
}

a:visited {
  /* color: #5942bf; */
  color: rgb(0, 182, 136);
  text-decoration: none;
}

.nav {
  position: relative;
  top: 0;
  /* background-color: white; */
  background-color: #15171b;
  list-style-type: none;
  text-align: center; 
  padding: 0;
  margin: 0;
  height: 100%;
  vertical-align: middle
}

.nav li {
  display: inline-block;
  vertical-align: middle;
  /* color: white; */
  font-size: calc(10px + 1vmin);
  padding: 15px;
}

.App-logo {
  display: block;
  padding: 10px,10px,10px,10px;
  scale: 100%;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.qrcode {
  align-content: center;
  width: 125px; 
  height: 125px;
}

.qrreader {
  align-content: center;
  text-align: center;
  width: 250px; 
  height: 250px;
  margin-left: auto;
  margin-right: auto;
}

.nft_bg {
  background-color: rgba(100, 100, 100, 0.4);
  opacity: 50%;
}

.nft {
  background-color: #15171b;
  align-content: center;
  padding: 5px;
  margin: 10px;
  width: 200px; 
  height: 200px;
}

.table {
  margin-left: auto;
  margin-right: auto;
  overflow-wrap: break-word;
}

.meta {
  font-size: calc(12px);
  width: 200px;
  inline-size: 200px;
  overflow-wrap: break-word;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  /*background-color: #15171b;*/
  padding: 10px;
}

.row {
  display: flex;
}

.column {
  flex: 33% ;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    /*animation: App-logo-spin infinite 20s linear; */
  }
}

.text {
  font-size: calc(7.5px + 1vmin);
  max-width: 80%;
  margin: 10px;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
}

.resources {
  list-style-type: none;
}

.resLink {
  color: black;
}

.App-link {
  color: #2e3472;
  /* color: #6170fb; */
  text-decoration: none;
}

.footer {
  position: absolute;
  bottom: 0;
  height: 100px;
  left: 0;
  width: 100%;
  /* color: white; */
  color: #01B688;
  /* color: rgb(235, 235, 235); */
  text-align: center;
  background-color: #15171b;
  list-style-type: none;
  vertical-align: middle
}

.footer li {
  display: inline-block;
  list-style-type: none;
  font-size: calc(10px + 0.5vmin);
  padding: 20px;
}